
# Dependency directories
node_modules/
vendor/

# Log files
*.log

# Environment variables
.env

# IDE and editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Operating system files
.DS_Store
Thumbs.db

# Build files
/dist
/build

# Others
*.swp
*.tmp
*.bak